<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:inline="text">Добро пожаловать работник!</h1>
<form th:action="@{/createdemployee}" enctype="multipart/form-data" method="post" th:object="${employee}">

    <select th:field = "*{role}">
        <option value="role"> Должность </option>
        <option th:each="role : ${T(com.sewfactoryhelper.sewfactoryhelper.enums.Role).values()}"
                th:value="${role}" th:text="#{${role}}"></option>
    </select>

    <select th:field = "*{product}">
        <option value="product"> Изделие</option>
        <option th:each="product : ${T(com.sewfactoryhelper.sewfactoryhelper.enums.Product).values()}"
                th:value="${product}" th:text="#{${product}}"></option>
    </select>
    <div><label> Цена за 1 единицу изделия : <input th:value="${price_id}" type="number" name="price_id"/> </label></div>
    <div><label> Количество готовых изделий : <input th:value="${qty}" type="number" name="qty"/> </label></div>
    <div><label> Брак : <input th:value="${reject}" type="number" name="reject"/> </label></div>
    <!-- <div><label> Заработная плата : <input th:value="${salary}" type="number" name="salary"/> </label></div> -->
    <div><input type="submit" value="Сохранить"/></div>
</form>
</body>
</html>