<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <title>Страница входа</title>
</head>
<body>
<div th:if="${param.error} != null">
  Invalid username and password.
</div>
<div th:if="${param.logout} != null">
  You have been logged out.
</div>
<form th:action="@{/login}" method="post">
  <div><label> Логин : <input type="text" name="login"/> </label></div>
  <div><label> Пароль: <input type="password" name="password"/> </label></div>
  <div>

    <a th:action="@{/login}" method="get"> <input type="submit" value="Войти"/> </a>
    <a th:href="@{/register}"><input type="button" value="Создать"/></a>
  </div>
</form>
</body>
</html>