<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать всем работникам предприятия Aruna</title>
</head>
<body>
<h1 th:inline="text">Добро пожаловать [[${#httpServletRequest.remoteUser}]]</h1>

<img src="https://i.pinimg.com/originals/a3/f6/48/a3f64831b9d6bc47320fe6e20dc21f47.jpg">

<form th:action="@{/login}" method="post">

    <input type="submit" value="Войти" class="btn btn-info col-2"/>
</form>
</body>
</html>