<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<form th:action="@{/registration}" enctype="multipart/form-data" method="post" th:object="${users}">
    <div><label> ФИО : <input th:value="${fio}" type="text" name="fio"/> </label></div>
    <div><label> Роль : <input th:value="${roles}" type="text" name="roles"/> </label></div>
    <div><label> Номер телефона : <input th:value="${phone_number}" type="text" name="phone_number"></label></div>
    <div><label> Логин : <input th:value="${login}" type="text" name="login"/> </label></div>
    <div><label> Пароль: <input th:value="${password}" type="password" name="password"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
</body>
</html>