<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<form th:action="@{/registration}" enctype="multipart/form-data" method="post" th:object="${users}">
    <div><label> Fio : <input th:value="${fio}" type="text" name="fio"/> </label></div>
    <div><label> Role : <input th:value="${role}" type="text" name="role"/> </label></div>
    <div><label> Phone_number : <input th:value="${phone_number}" type="text" name="phone_number"></label></div>
    <div><label> Login : <input th:value="${login}" type="text" name="login"/> </label></div>
    <div><label> Password: <input th:value="${password}" type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign Up"/></div>
</form>
</body>
</html>