<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Salary Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Salary Management System</h1>
		<hr>
		<h2>Update Salary</h2>

		<form action="#" th:action="@{/saveSalary}" th:object="${salary}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->


			<input readonly="readonly" th:field = "*{productId}">

			<div><label> Должность :
			<select th:field = "*{role}">
				<option value="role"> </option>
				<option th:each="role : ${T(com.sewfactoryhelper.sewfactoryhelper.enums.Role).values()}"
						th:value="${role}" th:text="${role}"></option>
			</select>
			</label></div>

				<input type="text" th:field="*{price}" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Update Salary</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/salarypages}"> Back to Salary List</a>
	</div>
</body>
</html>