<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Salary Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Salary Management System</h1>
		<hr>
		<h2>Изменение сохраненной записи ставки</h2>

		<form action="#" th:action="@{/saveSalary}" th:object="${salary}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />

			<select class="form-control" th:field="*{productId}">
				<option th:value="null">Изделие</option>
				<option th:each="product : ${products}"
						th:value="${product.id}"
						th:utext="${product.name}"></option>
			</select>

			<select th:field = "*{role}">
				<option value="role"> Должность </option>
				<option th:each="role : ${T(com.sewfactoryhelper.sewfactoryhelper.enums.Role).values()}"
						th:value="${role}" th:text="${role}"></option>
			</select>
				
				<input type="text" th:field="*{price}" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2">Сохранить изменения</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/salarypages}">Назад</a>
	</div>
</body>
</html>